@font-face {
    font-family: "Ruha" ;
    src: url("../../static/font/RuhaniyatDemoRegular-0Pdo.otf") format("opentype");
}
@font-face {
    font-family: "Roboto";
    src: url("../../static/font/Roboto-Regular.ttf") format("truetype");
}
nav{
    background-image: url("../../static/image/banniere.png");
    height: 150px;
    background-position: center;
    background-size: cover;
    margin: 0;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    text-align: center;
    margin: 0px 20px;
    padding: 0;
}
h1{
    font-family: "Ruha";
    font-size: 50px;
    font-weight: lighter;
}
li{
    font-family: "Roboto";
}
img{
    height: 150px;
}
i{
    margin-right: 10px;
}
